/*Body*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
}

/*Header*/
header {
    padding: 20px 80px;
    background-color:blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: normal;
    font-size: 60px;
    color: black;
    margin: 0;
    
}
header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size:2.55vw;
} 

header nav ul li a:hover {
    background: blue;
    color: black;
    border-radius: 15px;
}

.flex-container {
    display:flex;
    justify-content: space-around;
}

.photo1 img {
    width: 300px;
    height: 300px;
    padding: 0 10px 10px 10px;
    border: 1px solid blue;
    margin: 0 10px;

}

.photo2 img{
    flex-basis: 100%;
    -ms-flex-align: end;
    height: 300px; 
    flex: right;
    display: flex;
    justify-content: right;
    align-items:flex-end;
    width: 700px;
}

/*End Header*/

/*Footer*/

footer {
    padding: 20px 35px;
    background-color:blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

footer div {
    font-weight: normal;
    font-size: 30px;
    color: black;
    margin: 0;
    
}
footer a {
    text-decoration: none;
    color: black;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size:1.55vw;
} 

/*End Footer Syle*/

main {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}


main span p{
    margin-left: 250px;
    font-size: 20px;
    text-align: left;
    padding: 0 20px 0 0;
}

.bio, .professional {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 40px;
    font-weight: normal;
}

h2 {
    
    border-right: 1px solid blue;
    -ms-text-align-last:center;
    padding: 0 30px 0 20px;
}

.photo3 img {
    flex-basis: 100%;
    -ms-flex-align: end;
    height: 300px; 
    width: 700px;
    display: flex;
    justify-content: right;
    margin-left: 160px;
    
}


